.about-container{
    max-width: 80%;
    height: 300%;
    margin-left: 10%;
    background-color:rgba(34, 34, 34, 0.9);
    text-align: center;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-top: 60px; 
    color: azure;   
    background-color:  #6cbe02;
}
.body{
    background-color:#e9d7d3;
}
